*{  
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.logo img{
    float: left;
    width: 50px;
    height: 40px;
    padding-left: 10px;
}


header{
    background-color:  black;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 999;

}
header a{
    float: left;
    text-decoration: none;
    color: white;
    margin: 10px;
    margin-left: 20px;    
    
}



header a:hover{
    transform: scale(1.5);
    color: rgba(255, 234, 234, 0.938);
}

footer{
    background-color: black;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    height: 100px;
    
}
footer h4{
    text-align: right;
    margin: 10px;
    bottom: 1;
    float: none;
}
footer a{
    
    text-decoration: none;
    color: white;
    margin: 10px;
    margin-left: 20px;  
    float: none;  
    
}

.bodybg{
    margin: 40px auto 0 auto;
    width: 100%;
    background-image: url('../img/bg1.jpg');
    height: 500px;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.bodybg h1{
    background-color: white;
    opacity: .5;
    margin: auto;
    text-align: center;
    padding: 210px 0 210px 0;
    font-size: 70px;
    width: 100%;
}