*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 10px;
    background-color: brown;
    color: white;
    width: 100%;
    margin: 0;
}
.header a{
    color: white;
}
.main{
    width: 500px;
    margin: auto;
    background-color: rgb(206, 157, 102);
    padding: 20px;
}
p{

    color: rgb(156, 140, 86);
}
li{
    font-size: 14px;
    padding: 5px;
    margin-bottom: 10px;
}
.nav li{
    padding-left: 0;
    display: inline;
    border: none;
}

.recipe li{
    list-style-type: none;
    border: 2px solid rgb(142, 142, 175);
    margin-left: -50px;
 
    
}
.recipe h2,p{
    color: rgb(6, 106, 124);
}
.recipe img{
    float: left;
    width: 105px;
    height: 105px;  
    padding-right: 10px;
}
a{
    text-decoration: none;
    color: rgb(6, 106, 124);
}
a:hover{
    text-decoration: underline;
    color: darkred;
}

body{
    font-family: Arial;
    background-color: darkslategrey;
}
h1{
    text-align: center;
    margin: 10px 0 20px 0;
}
h2{
    margin: 10px 0 20px 0;
}
.containainimg{
    text-align: center;
}
.containainimg img{
    width: 100px;
    height: 100px;  

}
h3{
    margin: 10px 0 15px 0;
    border-bottom: 2px solid black;
    padding: 10px;
    text-align: center;
}
ul, ol{
    padding-left: 50px;
}

.form-suggest{
padding-left: 100px;

}
.form-suggest label, input[type="text"]{
    display: block;
    margin-bottom: 10px;
    width: 120px;
    width: 50%;
    font-size: 15px;
}
.form-suggest textarea{
    width: 50%;
    height: 200px;
}

.form-suggest input[type="submit"]{
    display: block;
    margin-bottom: 10px;
    width: 120px;
    width: 50;
    font-size: 15px;
}

.form-suggest input[type="checkbox"], label[for="letter"]{
    display: inline;
    margin-bottom: 10px;

}
